<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel= "stylesheet" type="text/css" href = "host_game.css" />
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Host Game</title>
  </head>

  <body style = "background-color: #b8cecd">
    <div class = "header">
        <div class = "jumbotron-fluid">
            <h1>Royal Flush</h1>
            <p>"Stats don't bluff"</p>
        </div>
    </div>






    <div id="app">

        <br>
        <div id = "playerLabel">
            <label>It is: </label>
            <p id="playerP">'s turn</p>
        </div>

        <br>


        <div id = "actionBoard">
            <h3>Action Board</h3>


<!--             <div class="row">
              <div class="col-md-12">
                <button v-on:click="check" type="button" class="btn btn-primary checkButton">Check</button>
                <button v-on:click="match" type="button" class="btn btn-primary matchButton">Match</button>
                <button v-on:click="fold" type="button" class="btn btn-primary foldButton">Fold</button>
              </div>
            </div> -->
             <div class='wrapper text-center'>
                <div class="btn-group" id = "buttonRow" role="group" aria-label="Basic example">
                    <button v-on:click="check" type="button" class="btn btn-primary checkButton">Check</button>
                    <button v-on:click="match" type="button" class="btn btn-primary matchButton">Match</button>
                    <button v-on:click="fold" type="button" class="btn btn-primary foldButton">Fold</button>
                </div>
            </div>



            <br>
            <br>

            <div class='wrapper text-center'>
                <div id = "row2">
                    <button v-on:click="raise" type="button" class="btn btn-primary raiseButton">Raise</button>
                    <input type="number" v-model="raiseAmount" class = "numberInput" placeholder="Number to raise">
                </div>
            </div>


            <br>
            <br>

            <div class = "CC">
                <label>Community Card 1: </label>
                <input v-model="commCard1" >
            </div>

            <br>
            <div class = "CC">
                <label>Community Card 2: </label>
                <input v-model="commCard2">
            </div>

            <br>
            <div class = "CC">
                <label>Community Card 3: </label>
                <input v-model="commCard3">
            </div>

            <br>
            <div class = "CC">
                <label>Community Card 4: </label>
                <input v-model="commCard4">
            </div>

            <br>
            <div class = "CC">
                <label>Community Card 5: </label>
                <input v-model="commCard5">
            </div>
            <br>



            <button id="resubmitBtn" class="btn btn-primary" v-on:click="resubmit" disabled>Resubmit</button>
            <br>
        </div>



        <p id="log"></p>
    </div>
    <script src="host_game.js"></script>
  </body>
</html>
