/* --------------HEADER---------------*/
.jumbotron-fluid h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
}

.jumbotron-fluid p{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}

.header h1{
    padding-top: 15px;
}

.header{
    text-align: center;
   /* background: #1abc9c;*/
   /*Royal Purple: #7851a9*/
    background: #7f99b1;
    color: white;
    margin-top: -20px;
    margin-bottom: 50px;
    height: 120px;

}

#logoutButton{
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}
/* --------------HEADER---------------*/



#actionBoard{
    width: 75%;
    margin: auto;

    border: 5px solid black;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}

#actionBoard h3{
    text-align: center;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.checkButton{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;


}

.matchButton{
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;



}

.foldButton{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;

}

.raiseButton{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.numberInput{
    width: 200px;
    height: 40px;
    margin-left: 30px;
}

#row2{
    display: inline;
}

#buttonRow{
    margin: auto 0;
}

.CC{
    display: inline;
    margin-left: 5px;
}

.CC input{
    margin-left: 5px;

}

#resubmitBtn{
    margin-top: 20px;
    margin-bottom: 20px;
}

#playerLabel{
    font-family: 'Nunito', sans-serif;
    display: inline;
    font-size: 20px;
}

#playerP{
    display: inline;
    font-weight: bold;
}

#logoutButton{
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}
