
body{
    background-color: #b8cecd
}

.col-md-6{
    background-color: #b8cecd
}

.form-group{
    background-color: #b8cecd
}

legend{
    padding:0px;
    margin:0px;
    float: left;
}


input{
    background-color: #E2D4B7;
    float: left;
}
.form-group{
    padding-bottom: 10px;
}

.temp{
   /* margin-bottom: 50px;*/
}



fieldset {
    border: thin solid #ccc;
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
}

label{
    margin-top: 10px;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}

.rightText{
    font-family: 'Nunito', sans-serif;
    margin-top: -55px;
}

.rightText p{
    text-align: center;
}

.rightText h1{
    text-align: center;
}

.rightText img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.header{
    text-align: center;
   /* background: #1abc9c;*/
    background: #7f99b1;
    color: white;
    margin-top: -20px;
    margin-bottom: 50px;
    height: 120px;
}

.header h1{
    padding-top: 15px;
}

.jumbotron-fluid h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
}

.jumbotron-fluid p{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}

.registerForm{
    margin-bottom: 100px;
}

