.jumbotron-fluid h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
}

.jumbotron-fluid p{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}

#logoutButton{
    margin-top: 10px;
    margin-right: 5px;
    float: right;
}


.header h1{
    padding-top: 15px;
}

.header{
    text-align: center;
   /* background: #1abc9c;*/
    background: #7f99b1;
    color: white;
    margin-top: -20px;
    margin-bottom: 50px;
    height: 120px;
}

.vpip{
    border: 1.5px solid black;
    padding-bottom: 10%;
    margin-bottom: 25px;
    position: relative;
   /* text-align: center;*/
   background-color: #B5FFE9;
   /*background-color: #F0BCD4;*/

}

.pfr{
    border: 1.5px solid black;
    padding-bottom: 10%;
    position: relative;
    /*background-color: #EF959C;*/
    margin-bottom: 25px;
    background-color: #7FBEAB;
}

.agg{
    border: 1.5px solid black;
    padding-bottom: 10%;
    position: relative;
  /*  background-color: #FCB9B2;*/
  background-color: #FFBFA0;
}

.psw{
    border: 1.5px solid black;
    padding-bottom: 10%;
    position: relative;
    /*background-color: #CEABB1;*/
    background-color: #FFF5B2;
}

.lText{
  /*  margin: auto;*/
    text-align: center;
   /* position: absolute;*/
    top: 25%;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.vpipVal{
    text-align: center;
    font-size: 25px;
    margin-top: 65px;
}

.description{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.ldescription{
    text-align: center;
    font-size: 15px;
    font-style: italic;
}



.rText{
    text-align: center;
    top: 25%;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

h1{
    text-align: center;
}